<!-- ______________________ MAIN _______________________ -->
<div id="main" class="page-front" ng-cloak>
    <div class="top">
        <div class="destacado">
            {{ drupal_block('ngt_general_contenido_destacado') }}
        </div>
        <div class="benefits">
            {{ drupal_block('ngt_general_benefit_home') }}
        </div>
    </div>

    <div class="center">
        {{ drupal_block('ngt_general_course_main') }}
    </div>

    <div class="bottom">
        {{ drupal_block('ngt_general_course_category') }}
    </div>

    <div class="bottom">
        {{ drupal_block('ngt_general_expert_home') }}
    </div>
</div>


<!-- /#main -->